 /* ############################# VARIABLES ################################*/

 :root {
    /* Color Scheme */
    --wood-brown: rgb(44, 32, 14);
    --outer-space: #0e0e0e;
    --forest: #212b25;
    --dark-background: rgb(25, 25, 25);
    --blood-orange:rgb(255, 94, 0) ;
    --stone-grey:rgb(175, 175, 175);
    /* Font Scheme */
  }

/* ############################# STANDARD PAGE STYLE ################################*/

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}

a {
  color: var(--outer-space);
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* ############################# HEADER & NAV BAR ################################*/

#header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--outer-space);
  border-bottom: 10px solid var(--stone-grey);
}

#header h1 {
  display: inline-block;
  font-size: 48px;
  margin-left: 10px;
}

#header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Courier New';
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

#header li {
  display: inline-block;
  margin-left: 30px;
  margin-right: 5px;
}

/* ############################# HEADER IMAGE #########################################*/
.main-image {
  height: 700px;
  width: 100%;
  background-image: url("./images/bwrock.jpg");
  background-size: cover;
  background-position: center;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-image h2{
  color: var(--blood-orange);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 12px white;
  position: relative;
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 400px;
  padding: 20px;
  text-align: center;
}

                                 /* Main Content */
/* ############################# ABOUT ME SECTION ################################*/
/* .about-me-card{
  border: solid 1px black;
  background-color: red;
} */
#about-me-row{
  background-color: var(--dark-background);
  /* height: 400px; */
  margin: 0px;
  margin-bottom: 75px; 
}

#about-me-head {
  color: white;
  font-weight: bold;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 12px white;
  width: 375px;
  height: 300px;
  padding: 20px;
  text-align: left;
}

#bio {
  color:white;
  font-size: 22px;
}

#me-photo{
  height: 400px;
  width: 400px;
}

#skills-header{
  writing-mode: vertical-rl;
  color: white;
  font-size: 60px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
}

.skills-content{
  color: var(--outer-space);
  margin: 10px;
  font-family: 'Courier New';
  font-size: 25px;
  background-color: wheat;
  font-weight: bold;
  padding: 5px;
}

/* ############################# PROJECTS SECTION ################################*/

/* PROJECTS SECTION HEADER */
#projects-header {
  color: var(--outer-space);
  font-weight: bold;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 12px var(--outer-space);
  width: 500px;
  padding: 20px;
  text-align: center;
  margin: auto;
}

/* LEADING PROJECT*/
.big-card-column{
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

.big-card{
  /* positioning */
  margin:auto;
  margin-top: 85px;
  margin-bottom: 50px;
  min-height: 100%;
  padding: 2rem;
  height: 700px;
  width: 90%;
  /* image setting & styling */
  background-image: url("./images/restroom-finder.JPG");
  background-size: cover;
  background-position:top;
  border-radius: 25px;
  /* flexbox column */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* LEAD PROJECT HEADER */
.big-card .card-header {
  /* using position and neg margin to move header over card */
  position: relative;
  margin: -8rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 2px rgb(134, 134, 134);
  /* border-bottom: solid 2px var(--blood-orange); */
}

/* CHANGE FONT FOR SUBTEXT ON CARD HEADER */
.big-card .card-header span{
  font-size: 17px;
  font-family: 'Courier New';
}

/* ALL OTHER PROJECTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 55px;
  justify-content: center;
}
  
/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.card-column {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}
  
/* make each code card a flexbox column to align and justify content within it */
.code-card {
  /* positioning */
  min-height: 100%;
  padding: 2rem;
  height: 300px;
  border-radius: 25px;
  margin-top: 40px;
  /* flexbox column */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* CARD IMAGES */
.rps{
  background-image: url("./images/workday-scheduler.jpg");
  background-size: cover;
  background-position: center;
}

.type{
  background-image: url("./images/weather-dashboard.jpg");
  background-size: cover;
  background-position: center;
}

.firstWeb{
  background-image: url("./images/firstWeb.JPG");
  background-size: cover;
  background-position: center;
}
  
/* HEADER FOR CARDS */
.code-card .card-header {
  /* using position and neg margin to move header over card */
  position: relative;
  margin-top: 10px;
  margin: -11rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;;
  border-bottom: solid 2px rgb(134, 134, 134);
  /* border-bottom: solid 2px var(--blood-orange); */
}

.code-card .card-header span{
  /* change font for subtext on card*/
  font-size: 17px;
  font-family: 'Courier New';
}

/* CARD SHADOW ON HOVER */
.code-card:hover {
  box-shadow: 10px 10px 15px var(--forest);
  cursor: pointer;
}

.big-card:hover {
  box-shadow: 10px 10px 15px var(--forest);
  cursor: pointer;
}

/* CARD SIZING */
/* each card's code block grows to the height of the largest code block on the page, making each card even in height */
.code-card .code-block {
  flex-grow: 1;
}

/* #############################CONTACT ME SECTION ########################################*/

#contact-me {
  background-color: var(--dark-background);
  height: 350px;
  margin-top: 45px;
  border-bottom: 10px solid rgb(175, 175, 175);
  /* flexbox row */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#contact-me h2 {
  color: white;
  font-weight: bold;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 12px white;
  width: 450px;
  height: 250px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;
  text-align: left;
}

#contact-info{
  margin-left: 13%;
  height: 250px;
  margin-top: 34px;
  text-align: center;
}

#contact-me li{
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Courier New';;
  /* padding: 20px; */
  display: inline-block;
  margin-top: 75px;
}

#contact-me a{
  color: var(--outer-space);
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
  padding: 7px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;;
}

/* ############################# FOOTER SECTION ########################################*/
footer{
  text-align: center;
  padding: 10px;
  background-color: white;
  color: var(--outer-space);
}

/* ############################# MEDIA SCREEN SIZING ########################################*/

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* .am-row {
    flex: 0 0 50%;
    max-width: 50%;
  } */

  /* #about-me{
    height: 800px;
  } */


  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }

  /* .am-row:last-child {
    flex-grow: 1;
  } */

}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 30%;
  }

  /* .am-row {
    flex: 0 0 20%;
    max-width: 20%;
  }

  #about-me{
    height: 800px;
  } */

  

}